{% extends "layout.html" %}
{% block content %}
<div class="mainpage">
  {% for episode in episodes.values() | sort(attribute='datetime') %}
  <a href="/ep/{{episode.key}}">{{episode.title}}</a>
  <marquee>{{episode.description}}</marquee>
  <div>Recorded on {{ episode.datetime.strftime('%Y-%m-%d') }} at {{episode.datetime.strftime('%-I:%M %p')}}</div>
  <div class="eppagedescription">
    <p>{{episode.description}}</p>
    <p><br/></p>

    <p>Audio size is {{episode['audio size'] }} bytes.</p>
    <hr/>
  </div>
  {% endfor %}
</div>
{% endblock %}
