{% extends "layout.html" %}
{% block content %}
<div class="mainpage">
  <hr/>
  {% for episode in episodes.values() | sort(attribute='air_datetime') | reverse %}
  <div style="display: flex; justify-content: center;">
    <div style="width: 600px; max-width: 600px; display: inline-block; margin-bottom: 30px;">
      <div class="eppagedescription vertical_centering">
        <a href="{{url_for('episode', date=episode.key)}}">
        <span class="eptitle">{{ episode.title }}</span>
        </a>
        <span class="epdate">{{ episode.air_datetime.strftime('%Y-%m-%d') }}</span>
        <div class="epdescriptiondescription">{{episode.description | safe}}</div>
        <p><br/></p>
      </div>
    </div>
  {% if episode.img_small %}
  <div>
    <a href="{{url_for('episode', date=episode.key)}}">
      <img class="lazy" data-src="{{episode.img_small}}" alt="{{ episode.title }}"/>
    </a>
  </div>
  {% endif %}
  </div>
  {% endfor %}
</div>
<script>
var lazyLoadInstance = new LazyLoad({
    elements_selector: ".lazy"
    // ... more custom settings?
});
</script>
{% endblock %}
