<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/plain" rel="author" href={{url_for('static', filename='humans.txt')}}" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    {% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='reset.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="alternate" type="application/rss+xml" title="The Henry George Program RSS" href="/feed/" />
    <title>The Henry George Program</title>
    <meta name="description" content="The Henry George Program, on KZSU Stanford">
    <script src="{{ url_for('static', filename='lazyload.min.js') }}"></script>
    {% endblock %}
  </head>
  <body>
    <nav>
      <div class="banner">
        <a href="{{url_for('index')}}">
          <img src="{{ url_for('static', filename = 'banner.png')}}" alt="The Henry George Program"/>
        </a>
      </div>
      <div class="bannerblurb">
        <img src="{{ url_for('static', filename = 'blurb.png')}}" alt="The Henry George Program"/>
      </div>
    </nav>
    {% if not hideblurb %}
    <div class="blurb">
      <p>
        The housing crisis in the Bay Area and beyond, economic stagnation,
        widening wealth inequality, environmental degradation―can Henry
        George's ideas offer a path forward that unfettered capitalism and
        incremental socialism lack?  Interviews, roundtable discussions, and
        debates.
      </p>
    </div>
    {% endif %}
    <div class="subscribe">
      <h3>SUBSCRIBE TO THE SHOW</h3>
      <a href="{{url_for('podcast_feed')}}"><img src="{{ url_for('static', filename = 'rss.png')}}" />RSS feed</a><br />
      <a href="https://itunes.apple.com/us/podcast/the-henry-george-program/id1241740873"><img src="{{ url_for('static', filename = 'itunes.png')}}" />Subscribe on iTunes</a><br />
      <a href="https://www.stitcher.com/s?fid=224477&refid=stpr"><img src="{{ url_for('static', filename = 'stitcher.png')}}" />Subscribe on Stitcher</a><br />
      <a href="https://twitter.com/henrygeorgepgm"><img src="{{ url_for('static', filename = 'twitter.png')}}" />Follow the show on Twitter</a>
    </div>

    <div class="content">
      {% block content %}{% endblock %}
    </div>
    {% block footer %}
    <footer>
      &copy; 2017 <a href="http://www.markmollineaux.com/">Mark Mollineaux</a>
      <!--in conjunction with <a href="http://earthsharing.org/">earthsharing.org</a>-->
    </footer>
    {% endblock %}
  </body>
</html>
